<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil usuario</ion-title>
    <ion-buttons slot="start" class="custom-back-button">
      <ion-back-button defaultHref="/" (click)="volver()"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div #container> 
    <!--perfil-->
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="imagenPerfil" alt="Imagen de Perfil">
          </ion-avatar>
          <ion-label>
            <h2>{{ usuario ? usuario.email : 'Nombre de Usuario' }}</h2>
            <p>Usuario Registrado</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>    
    

    <!--opciones-->
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Editar Perfil</ion-label>
        <ion-button fill="clear" color="medium" disabled>Proximamente</ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
        <ion-button fill="clear" color="medium" disabled>Proximamente</ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>Ver Asistencia</ion-label>
        <ion-button fill="solid" color="primary" (click)="verAsistencia()">Ver Asistencia</ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>Registrar asistencia</ion-label>
        <ion-button fill="solid" color="primary" (click)="Registrar()">Registrar</ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
        <ion-button fill="clear" color="danger" (click)="cerrarSesion()">Salir</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
