<ion-header>
  <ion-toolbar>
    <ion-title>Resetear Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
      <small *ngIf="email?.errors?.['required']">El correo es obligatorio.</small>
      <small *ngIf="email?.errors?.['email']">Correo inválido.</small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">Enviar</ion-button>
  </form>

  <p class="info-text" style="text-align: center; margin-top: 16px;">
    Se enviarán las instrucciones a seguir directo a su correo.
  </p>
</ion-content>
