/* Colores personalizados */
$primary-color: #3a0055b2; /* Color primario */
$secondary-color: #3dc2ff; /* Color secundario */
$error-color: #eb445a; /* Color de error */
$text-color: #ffffff; /* Color de texto estándar */
$info-color: #f8f8f8; /* Color de texto informativo */
$text-outline-color: rgb(0, 0, 0); 

/* Estilos de la página */
ion-header {
  background-color: $primary-color;
  ion-title {
    color: white; /* Color del título */
  }
}

ion-toolbar {
  --background: $primary-color;
  color: white; /* Color de texto en la barra de herramientas */
}

/* Estilos del formulario */
form {
  margin: 20px;

  ion-item {
    --highlight-color-focused: $primary-color;
    --color: $text-color;
    
    ion-label {
      color: $text-color; /* Color de las etiquetas */
    }

    ion-input {
      color: $text-color; /* Color del texto de entrada */
    }

    .error-message {
      small {
        color: $error-color; /* Color de mensajes de error */
      }
    }
  }

  ion-button {
    --background: #9b5ffc; /* Color del fondo del botón */
    --color: white; /* Color del texto del botón */
    --opacity: 2;
  }
}

/* Texto informativo */
.info-text {
  text-align: center;
  margin-top: 15px;
  color: $info-color; /* Color del texto informativo */
  font-size: 19px;
  text-shadow: -1px -1px 0 $text-outline-color, 
               1px -1px 0 $text-outline-color,
              -1px 1px 0 $text-outline-color,
               1px 1px 0 $text-outline-color;
}
